<div id="CharSelectV3">
	<ui-image src="select_character/bg_select_character.bmp"></ui-image>
	<!-- BOX -->
	<div class="box_select"><ui-image src="select_character/select_mark.bmp"></ui-image></div>
	<canvas class="slot1" width="133" height="132"></canvas>
	<canvas class="slot2" width="133" height="132"></canvas>
	<canvas class="slot3" width="133" height="132"></canvas>
	<div class="timedelete slot1 hidden"></div>
	<div class="timedelete slot2 hidden"></div>
	<div class="timedelete slot3 hidden"></div>
	<ui-button
		class="make1"
		bg="select_character/btn_add_out.bmp"
		hover="select_character/btn_add_over.bmp"
		down="select_character/btn_add_press.bmp"
	></ui-button>
	<ui-button
		class="make2"
		bg="select_character/btn_add_out.bmp"
		hover="select_character/btn_add_over.bmp"
		down="select_character/btn_add_press.bmp"
	></ui-button>
	<ui-button
		class="make3"
		bg="select_character/btn_add_out.bmp"
		hover="select_character/btn_add_over.bmp"
		down="select_character/btn_add_press.bmp"
	></ui-button>

	<!-- Arrows -->
	<ui-button
		class="arrow left"
		bg="select_character/chr_arrow_l_out.bmp"
		hover="select_character/chr_arrow_l_over.bmp"
		down="select_character/chr_arrow_l_press.bmp"
	></ui-button>
	<ui-button
		class="arrow right"
		bg="select_character/chr_arrow_r_out.bmp"
		hover="select_character/chr_arrow_r_over.bmp"
		down="select_character/chr_arrow_r_press.bmp"
	></ui-button>

	<!-- Slots infos -->
	<div class="slotinfo">
		<span class="number">0 / 27</span>
		<span class="content"></span>
	</div>
	<!-- Pages infos -->
	<div class="pageinfo">
		<div class="pagebtn"></div>
	</div>
	<!-- Characters infos -->
	<div class="charinfo">
		<div class="name"></div>
		<div class="job"></div>
		<div class="lvl"></div>
		<div class="exp"></div>
		<div class="hp"></div>
		<div class="sp"></div>
		<div class="map"></div>
		<div class="str"></div>
		<div class="agi"></div>
		<div class="vit"></div>
		<div class="int"></div>
		<div class="dex"></div>
		<div class="luk"></div>
	</div>
	<!-- Buttons -->
	<div class="btns">
		<button class="btn delete">Delete</button>
		<button class="btn canceldelete">Undo Del</button>
		<button class="btn finaldelete">Confirm</button>
		<button class="btn cancel">Cancel</button>
		<button class="btn ok">Enter</button>
		<button class="btn make">Create</button>
	</div>
</div>
